body{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    border: 10px groove greenyellow;
    margin: 0px;
    background-image: url('https://teamfighttactics.leagueoflegends.com/en-sg/static/backdrop-2ce9de703c2f318fff782cd843141b01.jpg');
}

#box{
    display: flex;
    flex-wrap: wrap;
}

.box1{
    background-color: black;
    border: 8px red solid;
    border-radius: 40px;
    color: white;
    margin-top: 15px;
    margin-left: 30px;
    height: 100px;
    width: 400px;
    padding: 30px 10px 20px 20px;
}

.box2{
    background-color: black;
    border: 8px red solid;
    border-radius: 40px;
    color: white;
    margin-top: 30px;
    margin-left: -100px;
    height: 50px;
    width: 30%;
    padding: 40px 0px 0px 0px;
}

.box3{
    background-color: black;
    border: 8px red solid;
    border-radius: 50px;
    color: white;
    margin-top: 8px;
    margin-left: 100px;
    height: 200px;
    width: 30%;
    padding: 20px 0px 20px 50px;
}

#circle{
    background-color: turquoise;
    border: 10px grey solid;
    border-radius: 50%;
    width: 490px;
    height: 500px;
    margin-left: 90px;
    margin-top: 20%;
}

.h1{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding: 20% 0px 5px 0px;
}

.h2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding: 3% 5% 3% 10px;
}

.h3{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding: 3% 5% 10% 10px;
}

#form{
    border: 10px brown dashed;
    text-align: center;
    margin-top: 10%;
    margin-left: 200px;
    width: 450px;
    color: brown;
    font-style: normal;
    font-size: medium;
}

#box6{
    display: inline-block;
    text-align: center;
}

.menu{
    border: 5px red solid;
    border-radius: 40px;
    background-color: black;
    color: white;
    height: 60px;
    width: 400px;
    margin-left: 120%;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
}

#i2 {
    display: inline-block;
    text-align: center;
}

.itemsstarters {
    border: 5px green solid;
    border-radius: 200px;
    background-color: aquamarine;
    border-radius: 10px;
    color: royalblue;
    margin-left: 80px;
    height: 400px;
    width: 400px;
}

#i3 {
    display: inline-block;
    text-align: center;
}

.itemssouthindian {
    border: 5px green solid;
    border-radius: 800px;
    background-color: aquamarine;
    border-radius: 10px;
    color: royalblue;
    margin-top: 200px ;
    margin-left: 80px;
    height: 400px;
    width: 400px;
}

#i4 {
    display: inline-block;
    text-align: center;
}

.itemsindiankitchen {
    border: 5px green solid;
    border-radius: 200px;
    background-color: aquamarine;
    border-radius: 10px;
    color: royalblue;
    margin-left: 60px;
    margin-top: 30px ;
    margin-bottom: 100px;
    height: 400px;
    width: 400px;
}

#i5 {
    display: inline-block;
    text-align: center;
}

.items2salad {
    border: 5px green solid;
    border-radius: 200px;
    background-color: aquamarine;
    border-radius: 10px;
    color: royalblue;
    margin-top: 30px ;
    margin-left: 40px;
    height: 400px;
    width: 400px;
}

#i6 {
    display: inline-block;
    text-align: center;
}

.items2bread {
    border: 5px green solid;
    border-radius: 200px;
    background-color: aquamarine;
    border-radius: 10px;
    color: royalblue;
    margin-top: 30px ;
    margin-left: 100px;
    height: 400px;
    width: 400px;
}

#i7 {
    display: inline-block;
    text-align: center;
}

.BeveragesandOther {
    border: 5px green solid;
    border-radius: 200px;
    background-color: aquamarine;
    border-radius: 10px;
    color: royalblue;
    margin-top: 30px ;
    margin-left: 100px;
    height: 400px;
    width: 400px;
}